<h1>showing article details</h1>

<%# rails syntax to display ruby code is "<%=" %>
<p><strong>Title: </strong><%= @article.title %></p>
<p><strong>Description: </strong><%= @article.description %></p>
